html {
    font-size: 16px;
  }
  a {
    color: white;
  }
  
  ul {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    list-style: none;
    font-family: "Sacramento";
    font-size: 2rem;
  }
  
  li {
    color: whitesmoke;
    padding: 15px;
  }
  
  h1 {
    margin-left: 2px;
    text-align: center;
    font-family: "Sacramento";
    font-size: 6em;
    color: whitesmoke;
    overflow: hidden;
  }
  h2 {
    font-family: Sacramento;
    font-size: 3rem;
    color: whitesmoke;
    margin-left: 10px;
    text-decoration: underline;
  }
  
  h3 {
    font-family: Sacramento;
    font-size: 2rem;
    color: whitesmoke;
    margin-left: 10px;
  }
  header {
    background-image: url("https://images.unsplash.com/photo-1503314885798-a70f8f9028d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  main {
    padding: 10px;
    background-color: rgba(178, 123, 149, 1);
  }
  
  .col {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col div {
    height: 300px;
    flex-grow: 1;
  }
  
  .col img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  
  /* .container {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    flex-wrap: wrap;
  } */
  
  .thumbnail {
    border-radius: 10px;
    border: solid whitesmoke 2px;
    margin: 2px;
  }
  
  /* .proposal {
    display: flex;
    align-content: space-around;
    justify-content: center;
  } */
  
  .col2 {
    text-align: center;
  }
  
  footer {
    width: 100%;
    height: 100px;
  }
  